[submodule "vendors/sleuthkit"]
	path = vendors/sleuthkit
	url = git://github.com/jonstewart/sleuthkit.git
[submodule "vendors/libewf"]
	path = vendors/libewf
	url = git://github.com/jonstewart/libewf.git
[submodule "vendors/afflib"]
	path = vendors/afflib
	url = git://github.com/jonstewart/afflib.git
