[submodule "vendors/sleuthkit"]
	path = vendors/sleuthkit
	url = git://github.com/jonstewart/sleuthkit.git
[submodule "vendors/libewf"]
	path = vendors/libewf
	url = git://github.com/jonstewart/libewf.git
[submodule "vendors/afflib"]
	path = vendors/afflib
	url = git://github.com/jonstewart/afflib.git
[submodule "vendors/scope"]
	path = vendors/scope
	url = git://github.com/jonstewart/scope.git
[submodule "vendors/boost"]
	path = vendors/boost
	url = git://github.com/jonstewart/boost-svn.git
